.app-wrapper {
    margin: auto;
    display: grid;
    width: 1200px;

    /*поміщаємо контент в строки*/
    grid-template-areas:
        "h h"
        "n c";
    /*вказуємо яких розмірів будуть строки (2 строки)*/
    grid-template-rows: 60px 1fr;
    /*розмір колонок (2 колонки)*/
    grid-template-columns: 2fr 10fr;
}
.header {
    grid-area: h;
    background-color: green;
}
.header img { 
    width: 80px;
}
.nav {
    grid-area: n;
    background-color: burlywood;
}
.content{
    grid-area: c;
    background-color: cornflowerblue;

}
.contentimg img {
    width: 500px;
}